name: Check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    name: Nix Flake Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check flake
        run: nix flake check --show-trace

      - name: Evaluate Home Manager configurations
        run: |
          nix eval .#homeConfigurations.\"baranovskis@erebor\".activationPackage --show-trace
          nix eval .#homeConfigurations.baranovskis.activationPackage --show-trace
